/* Styles for the main app */

.App {
  text-align: center;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #DDE8ED;
  background-color: #DDE8ED;
}