/* Styles for the invited event card */

.gift-image {
    height: 20vh;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.gift-image > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gift-card {
    min-width: 160px;
    margin: 5%;
}