/* Styles for the navigation bar */

.nav-bar {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #8FB3BF;
    position: absolute;
    top: 0px;
}

.gift-icon .MuiSvgIcon-root {
    color: white;
}

.user-icon .MuiSvgIcon-root{
    color: white;
}