
.container{
    width: 100vw;
    height: 100vh;
}

.submit {
    background-color: #8FB3BF !important;
    color: white !important;
    transition: 250ms;
    margin-top: 50px !important;
}

.submit:hover {
    background-color: #E6F4F1;
    color: black;
}

.background {
    height:'100vh';
}

.divider{
    height:'100vh';
    background-color: '#8fb3bf';
    width: "15px";
}

.input{
    height:'100vh';
    background-color: '#dde8ed';
}
